@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Poppins:wght@600&family=Raleway:wght@800&display=swap');

.header {
  font-family: 'Poppins', sans-serif;
  font-weight:500;
}

.pageheader {
  font-family: 'Raleway', sans-serif;
  font-weight:500;
}
.link{
  font-family: 'Poppins', sans-serif;
  font-weight:500;
}
html {
padding-top: 100px; /* height of sticky header */
}
.topbar {
  padding: 2px 16px;
  background-color: #0d00ff;
  color: white;
  border-radius: 0px 0px 15px 15px;
  margin-top: 0 !important; margin-left: 0 !important;
  left: 0;
  top: 0px;
  right: 0px;
  position: fixed;
  background-image:
  linear-gradient(
    to top right,
    #0d00ff, #00FFFF
  );
  display: block;

}

a:hover, a:visited, a:active, a:link{
  text-decoration:none;
}
.gamebar {
  padding: 2px 16px;
  background-color: #0d00ff;
  color: white;
  border-radius: 0px 0px 15px 15px;
  margin-top: 0 !important; margin-left: 0 !important;
  left: 0;
  top: 0px;
  right: 0px;
  position: fixed;
  background-image:
  linear-gradient(
    to top right,
    #ff6700, yellow
  );
  display: block;

}

.section {
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FFD0AE 50%);
  font-family: Poppins;
  color:#2496be;
  text-decoration:none;
}

.section:visited {
  text-decoration:none;
  color:#2496be
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end 10;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


Resources
.link{
  font-family: 'Poppins', sans-serif;
}

*{
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

/*hr {
  border-top: 8px solid #666;
  background-image: linear-gradient(to right,#0d00ff, #00FFFF);
  border-radius: 5px;
}*/

hr {
  background: linear-gradient(to left, #0d00ff, #00FFFF);
  height: 8px;
  border-radius: 5px;
  border:none;

}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/*I understand button*/
.button {
  background-color: #2c5cf7;
  color: white;
  border-radius: 10px;
  border-color: white;
  float: left;
  border:none; /*delete the default one*/
  border: 4px solid #2c5cf7; /*add my own border */
  border-radius:15px;

}

.button:focus, .button:active {
  outline: none !important;
  box-shadow: none !important;
}
/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  border-radius: 15px 15px 0px 0px;
  font-family:
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #0d00ff;
  color: white;
  border-radius: 15px 15px 0px 0px;
  background-image:
  linear-gradient(
    to top right,
    #00ffff, #0d00ff
  );
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #ff0000;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

div.at-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.at-item {
  color: white;
  font-family: Raleway;
  animation-name: focus-in-contract;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes focus-in-contract {
  0%{
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100%{
    filter: blur(0);
    opacity: 1;
  }
}
