@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap');


.header {
  font-family: 'Poppins', sans-serif;
  font-weight:500;
}
html {
padding-top: 120px; /* height of sticky header */
}
.topbar {
  padding: 2px 16px;
  background-color: #0d00ff;
  color: white;
  border-radius: 0px 0px 15px 15px;
  margin-top: 0 !important; margin-left: 0 !important;
  left: 0;
  top: 0px;
  right: 0px;
  position: fixed;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #000000;
  font-family: Poppins;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


Resources
.link{
  font-family: 'Poppins', sans-serif;
}

*{
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

hr.rounded {
  border-top: 8px solid #666;
  border-radius: 5px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  border-radius: 5px;
}

/*I understand button*/
.button {
  background-color: #2d119c;
  color: white;
  border-radius: 10px;
  border-color: white;
  float: left;

}
.button:focus, .button:active {
  outline: none !important;
  box-shadow: none !important;
}
/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  border-radius: 15px 15px 0px 0px;
  font-family:
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #0d00ff;
  color: white;
  border-radius: 15px 15px 0px 0px;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #ff0000;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}
